<div class="head">
  <ul class="fr topbar-info">
    <li class="dropdown topbar-notice">
      <a href="#" class="topbar-btn">
        <span class="icon-notice"></span>
        <span class="topbar-num have">信息(0)</span>
        <!--have表示有消息，没有消息去掉have-->
      </a>
    </li>
    <li class="topbar-info-item">
      <div class="dropdown">
        <a href="#" class="topbar-btn">
          <span class="icon-arrow-down"></span>
          <span class="text-normal">帮助与文档</span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">模板开发手册</a></li>
          <li><a href="#">某某数据字典</a></li>
        </ul>
      </div>
    </li>
    <li class="topbar-info-item">
      <%-(function(){
        var arr = [];
        if(user && user.name){
          arr.push('<div class="dropdown onDropDown">');
          arr.push('<a href="#" class="topbar-btn">');
          arr.push('<span class="text-normal">');
          arr.push('<span class="icon-arrow-down"></span>');
          arr.push('</span>');
          arr.push(''+user.name);
          arr.push('</a>');
          arr.push('<ul class="dropdown-menu">');
          arr.push('<li><a href="login">退出</a></li>');
          arr.push('</ul>');
          arr.push('</div>');
        }else{
          arr.push('<div class="dropdown onDropDown">');
          arr.push('<a href="#" class="topbar-btn">');
          arr.push('<span class="text-normal">');
          arr.push('<span class="icon-arrow-down"></span>');
          arr.push('未登录');
          arr.push('</span>');
          arr.push('</a>');
          arr.push('<ul class="dropdown-menu">');
          arr.push('<li><a href="login">登陆</a></li>');
          arr.push('</ul>');
          arr.push('</div>');
        }
        return arr.join("\n");
      })()%>
    </li>
  </ul>
</div>
