<div class="b_header {{CONFIG.SHOWMENU?'':'active'}}">
  <div class="logo">平台</div>
  <div class="nav">
    <a class="sidebar-toggle" v-gesture:tap.stop.prevent="click_menu_btn()">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <div class="info">
      clement
    </div>
  </div>
</div>
