<div class="menu_article">
  <h2 class="title">所有模板</h2>
  <div class="p_head">
    <ul class="p_top">
      <li>全部</li>
      <li>已发布</li>
      <li>草稿</li>
      <li>垃圾箱</li>
    </ul>
    <div class="p_head_search  fr">
      <span class="form-box">
        <input type="text" class="form-control" />
      </span>
      <span class="button btn-default">筛选</span>
    </div>
  </div>
  <div class="p_head">
    <div class="col col-10">
      <select class="form-control" v-model="checkOprFlag">
        <option value="">==批量操作==</option>
        <option value="del">删除</option>
      </select>
    </div>
    <span class="button btn-default" v-gesture:tap="click_btn_opr(this,$event)">应用</span>

    <div class="col col-10">
      <select class="form-control">
        <option>全部专题</option>
      </select>
    </div>
    <div class="col col-10">
      <select class="form-control">
        <option>全部分类</option>
      </select>
    </div>
    <span class="button btn-default">筛选</span>
  </div>
  <br/>
  <table class="table">
    <thead>
    <tr>
      <th class="checkbox"><input name="dataItem" v-on:click="click_btn_checkAll(this,$event)" type="checkbox" v-model="checkAllFlag"></th>
      <th>标题</th>
      <th>作者</th>
      <th>分类</th>
      <th>专题</th>
      <th>发布时间</th>
      <th width="120">操作</th>
    </tr>
    </thead>
    <!--<tr>-->
    <!--<td class="checkbox"><input name="dataItem" onclick="checkAll(this)" type="checkbox" value="0"></td>-->
    <!--<td>2</td>-->
    <!--<td>3</td>-->
    <!--<td>4</td>-->
    <!--<td>5</td>-->
    <!--<td>6</td>-->
    <!--</tr>-->
    <tr v-for="one in list" v-on:dblclick="dclick_row(one)">
      <td class="checkbox"><input name="dataItem" type="checkbox" v-model="one.checked" /></td>
      <td>{{one.title}}</td>
      <td>{{one.user_id}}</td>
      <td>{{one.id}}</td>
      <td>{{one.moudle}}</td>
      <td >{{one.createdAt}}</td>
      <td><span class="button btn-primary" v-on:click="click_btn_mobileWeb(one)">预览</span></td>
    </tr>
  </table>
</div>

<style>
  .title{
    padding:0 10px;
  }
  .p_head{
    overflow: auto;
  }
  .p_head .button{
    height: 32px;
    line-height: 32px;
    display: inline-block;
    padding: 0 10px;
  }

  .p_head_search .form-box{
    display: inline-block;
  }

  .p_top li{
    padding: 0 10px;
    float: left;
    border-right: 1px solid #cecece;
    cursor:pointer;
  }
</style>
