
  <h2 class="title">撰写模板</h2>
  <div class="row col col-70 col-md">
    <div class="f_title">
      <input name="title"  class="form-control" placeholder="标题" v-model="data.title"/>
      <input class="hidden" ng-modal="data.id">
    </div>
    <div class="f_editor">
      <script id="editor" type="text/plain" style="width:100%;height:180px;"></script>
    </div>
    <div class="box-panel col">
      <div class="panel">
        <div class="panel-head">属性设置</div>
        <div class="panel-content">
          <div class="box-tab">
            <ul class="tab-head">
              <li tab-name="0" class="{{attributeSettingIndex==0?'active':''}}" v-on:click="attributeSettingIndex=0">常用</li>
              <li tab-name="1" class="{{attributeSettingIndex==1?'active':''}}" v-on:click="attributeSettingIndex=1">SEO</li>
              <li tab-name="2" class="{{attributeSettingIndex==2?'active':''}}" v-on:click="attributeSettingIndex=2">样式</li>
              <li tab-name="3" class="{{attributeSettingIndex==3?'active':''}}" v-on:click="attributeSettingIndex=3">位置</li>
              <li tab-name="4" class="{{attributeSettingIndex==4?'active':''}}" v-on:click="attributeSettingIndex=4">备注</li>
              <li tab-name="5" class="{{attributeSettingIndex==5?'active':''}}" v-on:click="attributeSettingIndex=5">元数据</li>
            </ul>
            <div class="tab-content">
              <div tab-content="0" class="{{attributeSettingIndex==0?'active':''}}">
                <label>
                  <div class="col col-20">标示</div>
                  <div class="col col-80"><input class="form-control"/></div>
                </label>
                <label>
                  <div class="col col-20">作者</div>
                  <div class="col col-80"><input class="form-control"/></div>
                </label>
                <label>
                  <div class="col col-20">评论</div>
                  <div class="col col-80">
                    <select class="form-control"><option>启用</option><option>关闭</option></select>
                  </div>
                </label>
              </div>
              <div tab-content="1" class="{{attributeSettingIndex==1?'active':''}}">
                <textarea class="form-control" placeholder="输入关键字"></textarea>
                <br/>
                <textarea class="form-control" placeholder="输入描述内容"></textarea>
              </div>
              <div tab-content="2" class="{{attributeSettingIndex==2?'active':''}}">
                <label>
                  <input type="radio" name="style"/>&nbsp;样式：默认样式
                </label>
                <label>
                  <input type="radio" name="style"/>&nbsp;样式：black
                </label>
              </div>
              <div tab-content="3" class="{{attributeSettingIndex==3?'active':''}}">
                <label>
                  <div class="col col-20">经纬</div>
                  <div class="col col-80"><input class="form-control"/></div>
                </label>
                <label>
                  <div class="col col-20">维度</div>
                  <div class="col col-80"><input class="form-control"/></div>
                </label>
              </div>
              <div tab-content="4" class="{{attributeSettingIndex==4?'active':''}}">
                <textarea class="form-control"></textarea>
              </div>
              <div tab-content="5" class="{{attributeSettingIndex==5?'active':''}}">模板没有元数据定义</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row col col-30 col-md">
    <div class="box btn_opr">
      <span class="button fl">移至垃圾箱</span>
      <span class="button btn-default fr">删除</span>&nbsp;
      <span class="button btn-primary fr" v-gesture:tap.stop.prevent="click_noteActicle()">发布</span>
    </div>
    <div class="box-panel col">
      <div class="panel">
        <div class="panel-head">分类</div>
        <div class="panel-content">
        </div>
      </div>
    </div>
    <div class="box-panel col">
      <div class="panel">
        <div class="panel-head">专题</div>
        <div class="panel-content">
        </div>
      </div>
    </div>
    <div class="box-panel col">
      <div class="panel">
        <div class="panel-head">缩略图</div>
        <div class="panel-content">
          <form id="sl_img" method="post" action="/file" enctype="application/x-www-form-urlencoded"><input type="file" name="file"/><input type="submit" /></form>
        </div>
      </div>
    </div>
  </div>

<style>
  .title{
    padding:0 10px;
  }
  .row{
    float:left;
    padding: 5px 10px;
  }
  .f_editor{
    padding: 10px 0;
    height: 300px;
  }
  .box-panel{
    padding:10px 0;
  }
  label{
    display: block;
    overflow: auto;
    padding-top:10px;
  }
  label .col{
    height: 34px;
    line-height: 34px;
    float:left;
  }
  .tab-content{
    min-height: 150px;
  }
  [tab-content]{
    padding:10px 5px;
    overflow: auto;
  }
</style>
