<div class="menu_index">
  <h2 class="title">Jpress模板</h2>
  <div class="box-panel col col-50">
    <div class="panel">
      <div class="panel-head">概览</div>
      <div class="panel-content">
        <div class="chart-item">
          <div class="chart-item-title">文章总计</div>
          <div class="chart-item-amount">0</div>
          <div class="chart-item-bottom"></div>
        </div>
        <div class="chart-item">
          <div class="chart-item-title">文章总计</div>
          <div class="chart-item-amount">0</div>
          <div class="chart-item-bottom"></div>
        </div>
        <div class="chart-item">
          <div class="chart-item-title">文章总计</div>
          <div class="chart-item-amount">0</div>
          <div class="chart-item-bottom"></div>
        </div>
        <div class="chart-item">
          <div class="chart-item-title">文章总计</div>
          <div class="chart-item-amount">0</div>
          <div class="chart-item-bottom"></div>
        </div>
        <div class="chart-item">
          <div class="chart-item-title">文章总计</div>
          <div class="chart-item-amount">0</div>
          <div class="chart-item-bottom"></div>
        </div>
        <div class="chart-item">
          <div class="chart-item-title">文章总计</div>
          <div class="chart-item-amount">0</div>
          <div class="chart-item-bottom"></div>
        </div>
        <div class="chart-item">
          <div class="chart-item-title">文章总计</div>
          <div class="chart-item-amount">0</div>
          <div class="chart-item-bottom"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-panel col col-50">
    <div class="panel">
      <div class="panel-head">最新评论</div>
      <div class="panel-content"></div>
    </div>
  </div>
</div>
<style>
  .title{
    padding:0 10px;
  }
</style>
